.identify {
  margin-bottom: 6px;
}

.identify__title {
  margin-bottom: 22px;
}

.identify__description {
  display: flex;
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  margin-bottom: 22px;
}

.identify__description label {
  margin-right: 17px;
}

.identify__description input {
  min-width: 60%;
  box-sizing: border-box;
  margin-left: auto;
  padding: 15px 0 14px 20px;
  flex-grow: 1;
}
