.identify {
  margin-bottom: 5px;
}

.identify__title {
  margin-bottom: 20px;
}

.identify__description {
  display: flex;
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  margin-bottom: 20px;
}

.identify__description label {
  margin-right: 17px;
}

.identify__description input {
  min-width: 60%;
  box-sizing: border-box;
  margin-left: auto;
  border: solid 4px transparent;
  padding: 12px 0 12px 17px;
  flex-grow: 1;
}

.identify__description input:hover {
  background-color: @bg-input-3;
}

.identify__description input:focus {
  border: solid 4px @bg-input-3;
  background-color: @bg-color;
}

@media (min-width: @tablet-width) {
  .identify {
    box-sizing: border-box;
    width: 50%;
    padding-left: 58px;
    margin-bottom: 28px;
  }

  .identify__title {
    text-align: left;
    margin-bottom: 58px;
  }

  .identify__description {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .identify__description label {
    align-self: center;
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .identify {
    padding-left: 82px;
    margin-bottom: 26px;
  }
}
