.info {
  width: 80%;
  padding: 0 10%;
  margin-bottom: 25px;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .info {
    width: 70%;
    padding: 0 15%;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .info {
    width: 40%;
    padding: 0 30%;
    margin-bottom: 50px;
  }
}
