.reasons__title-block {
  color: @text-white;
  background-color: @main-color;
  text-align: center;
}

.title--small {
  color: @text-white;
}

.reasons__item {
  text-align: center;
  background-color: @bg-color-grey;
}
