.review-form__title {
  .font(18px, 26px, bold);
  color: @title-color;
  text-align: center;
}

input[type="text"] {
  background-color: @bg-input;
}

.review-form__textarea {
  .font(18px, 26px, bold);
  background-color: @bg-input;
}
