.search-hotel {
  text-align: center;
  margin-bottom: 10px;

  & iframe {
    width: 100%;
  }
}

.search-hotel__title {
  .font(21px, 26px, bold);
  width: 80%;
  padding: 0 10%;
}

.search-hotel__description {
  width: 86%;
  padding: 0 7%;
  margin-bottom: 32px;
}

.search-hotel__link {
  text-decoration: none;
  .font(21px, 26px, bold);
  display: block;
  text-align: center;
  width: 88%;
  padding: 16px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

.search-hotel__map {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  background: url("../img/bg-map-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.search-hotel__map::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  background: url("../img/icon-map-marker.svg") 50% no-repeat;
  background-size: 100%;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    margin-bottom: 10px;
  }

  .search-hotel__title {
    width: 50%;
    padding: 0 25%;
    .font(30px;
    26px;
    bold);
    margin-bottom: 31px;
  }

  .search-hotel__description {
    width: 60%;
    padding: 0 20%;
    .font(14px;
    24px);
    margin-bottom: 40px;
  }

  .search-hotel__link {
    width: 458px;
    margin-bottom: 59px;
  }

  .search-hotel__map {
    background: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .search-hotel__description {
    width: 40%;
    padding: 0 30%;
    margin-bottom: 46px;
  }

  .search-hotel__link {
    margin-bottom: 66px;
  }

  .search-hotel__map {
    background: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
